# {{ .Name }} {{ if .NSFW }}🔞{{ end }}

{{ .About }}

## Build

```bash
# With NPM
npm install
npm run build

# With Yarn
yarn install
yarn build

# With PNPM
pnpm install
pnpm build

# With Bun
bun install
bun run build
```
